name: "Workflow 01"

on: 
    push:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: step 01
              uses: actions/checkout@v4
            - name: step02
              id: step02
              uses: ./.github/actions/action01
              with:
                greet_name: "Shakib"
            - name:
              run: echo "My greeting message:" + ${{steps.step02.outputs.greet_name}}


